<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
            <form method = "POST">
                {% csrf_token %}
                <fieldset>
                    <legend>Delete User</legend>
                    <h2>Are you sure you want to delete this user</h2>
                </fieldset>
                <div>
                    <button type = "submit">Delete</button>
                    <a>Cancel?</a>
                </div>
            </form>
        </div>
    </body>
</html>