<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>LabShare</h1>
    <p>
        The objective of this application is to minimise the wastage of resources after they are used in Medical Science
        based
        labs at the University of Western Australia. More specifically, this will be accomplished via an iOS based
        mobile
        gift-economy marketplace. Different members and departments of the UWA medical faculty can share resources
        falling into
        the three major categories of reagents, expertise, and equipment.
        The application will streamline the process of finding resources, such that university members can efficiently
        search
        for products they are looking for, accomplished with an intuitive user interface and fully functional front and
        backend
        features. Additionally, it should save the university money and reduce environmental wastage, by reducing
        situations in
        which duplicate resources are acquired.
    </p>
</body>

</html>